
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* -------Navbar------- */

.navbar{
    height: 4rem;
    background-color: white;
}

.fa-compass{
    color: #FF385C;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
}



/* -----Footer----------- */


.f-info-links a{
    text-decoration: none;
    color: black;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.f-info-brand,.f-info-links,.f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}



/* Cards Styling */

.card {
    margin-top: 1rem !important;
    border: none !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */


.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.btn{
    color: white !important;
    border: none !important;
    background-color: #eb2e50 !important;
}


/* Show Page */

.show-img{
    height:30vh ;
}

.btns{
    display: flex;
}

.dlt-btn{
    background-color: black !important;
}

